.Auth
    display: flex
    justify-content: center
    padding-top: 100px
    flex-grow: 1
    background: linear-gradient(to right,#796EC9 33%,#8D5FC9 66%, #A563C9 100%)
    &>div
        width: 100%
        max-width: 600px
        padding: 0 20px
    h1
        color: white
        text-align: center

.AuthForm
    background-color: rgba(0, 0, 0, .1)
    border: solid 2px rgba(255, 255, 255, .5)
    box-shadow: 5px 10px 5px rgba(255, 255, 255, .5)
    padding: 5px
    border-radius: 5px
    display: flex
    flex-direction: column
    padding: 5px
    div
        padding: 5px
        display: flex
        justify-content: start
        flex-wrap: wrap
        input
            box-sizing: border-box   
            flex-grow: 1
            padding: 5px
            margin: 5px
            background-color: rgba(0, 0, 0, 0.3)
            font-size: 1.05rem
            border: solid 2px rgba(0, 0, 0, 0.0)
            color: white
            &:focus, &:active
                border: 2px solid white
                outline: none